.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/lms.jpg");
  background-size: cover;
  backdrop-filter: blur(8px);
  z-index: -1;
}

.transaction-list {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  .transaction-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

    .transaction-details {
      display: grid;
      gap: 10px;

      p {
        margin: 0;
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 5px;
        align-items: center;

        strong {
          width: 110px;
          font-weight: bold;
        }
      }

      button {
        padding: 8px 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 150px;

        &:hover {
          background-color: #0056b3;
        }
      }

      .return-button {
        margin: 5px;
        background-color: #28a745;

        &:hover {
          background-color: #1e7e34;
        }
      }

      .return-date-container {
        display: flex;
        align-items: center;
        gap: 10px;

        label {
          font-weight: bold;
        }

        input[type="date"] {
          padding: 6px 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

        button {
          padding: 6px 12px;
        }
      }
    }
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #333;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  color: #fff;
}

.popup h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.popup form .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #5bc0de; /* Light blue color for labels */
}

.popup form .form-group input[type="text"],
.popup form .form-group input[type="number"],
.popup form .form-group input[type="email"],
.popup form .form-group input[type="password"],
.popup form .form-group textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 4px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
}

.popup form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.popup form button[type="submit"]:hover {
  background-color: #0056b3;
}

.popup button {
  background-color: #dc3545; /* Red color for cancel button */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  padding: 8px 16px;
}

h2 {
  color: #fff;
}
