<div class="search-form">
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search Query..." />
  <select [(ngModel)]="selectedOption">
    <option value="isbn">Search by ISBN</option>
    <option value="title">Search by Title</option>
    <option value="author">Search by Author</option>
    <option value="genre">Search by Genre</option>
    <option value="publicationYear">Search by Publication Year</option>
  </select>
  <button (click)="search()">Search</button>
  <button (click)="clearSearch()">Clear Search</button>
</div>

<div class="search-results">
  <div *ngFor="let book of searchResults" class="book-item">
    <div class="book-details">
      <p><strong>ISBN:</strong> {{ book.isbn }}</p>
      <p><strong>Title:</strong> {{ book.title }}</p>
      <p><strong>Author:</strong> {{ book.author }}</p>
      <p><strong>Genre:</strong> {{ book.genre }}</p>
      <p><strong>Publication Year:</strong> {{ book.publicationYear }}</p>
      <p>
        <strong>Availability:</strong>
        <span
          [ngClass]="{
            available: book.available,
            unavailable: !book.available
          }"
          >{{ book.available ? "Available" : "Not Available" }}</span
        >
      </p>
    </div>
  </div>
</div>
