<nav class="navbar">
  <div class="navbar-left">
    <a
      routerLink="/home"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
      class="list-item"
      >Home</a
    >
    <ng-container *ngIf="user.admin">
      <a routerLink="addBook" routerLinkActive="selected" class="list-item"
        >Add Book</a
      >
      <a routerLink="addBorrower" routerLinkActive="selected" class="list-item"
        >Add Borrower</a
      >
      <a routerLink="borrowBook" routerLinkActive="selected" class="list-item"
        >Borrow Book</a
      >
      <a routerLink="transactions" routerLinkActive="selected" class="list-item"
        >Transactions</a
      >
      <a routerLink="users" routerLinkActive="selected" class="list-item"
        >Users</a
      >
    </ng-container>
    <a routerLink="books" routerLinkActive="selected" class="list-item"
      >Books</a
    >
    <a routerLink="history" routerLinkActive="selected" class="list-item"
      >History</a
    >
    <a routerLink="/login" routerLinkActive="selected" class="list-item"
      >Log Out</a
    >
  </div>
</nav>

<router-outlet></router-outlet>
