<div class="main-container">
  <div class="container">
    <h2>Borrow Book</h2>
    <form #borrowForm="ngForm" (ngSubmit)="onSubmit(borrowForm)">
      <small class="text-success">{{ msg }}</small>
      <small class="text-danger">{{ errormsg }}</small>
      <div class="form-group">
        <label for="borrowerId">Borrower ID:</label>
        <input
          type="number"
          class="form-control"
          name="borrowerId"
          #borrowerIdInput
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="bookIsbn">Book ISBN:</label>
        <input
          type="number"
          class="form-control"
          name="bookIsbn"
          #bookIsbnInput
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="borrowingDate">Borrowing Date:</label>
        <input
          type="date"
          class="form-control"
          name="borrowingDate"
          #borrowingDateInput
          ngModel
          required
        />
      </div>
      <!-- You can add more fields as needed -->
      <button
        [disabled]="borrowForm.form.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Borrow Book
      </button>
    </form>
  </div>
</div>
