.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/lms.jpg");
  background-size: cover;
  backdrop-filter: blur(8px);
  z-index: -1;
}

.user-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  // justify-content: center;
  // align-items: center;
  height: 100vh;

  .user-item {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    .user-details {
      .detail {
        display: flex;
        margin-bottom: 10px;

        strong {
          width: 150px;
          font-weight: bold;
        }

        span {
          flex: 1;
        }
      }
    }
  }
}
