<div class="background"></div>
<div class="user-list">
  <div class="user-item" *ngFor="let user of users">
    <div class="user-details">
      <div class="detail">
        <strong>User ID:</strong>
        <span>{{ user.userID }}</span>
      </div>
      <div class="detail">
        <strong>Email:</strong>
        <span>{{ user.emailID }}</span>
      </div>
      <div class="detail">
        <strong>Name:</strong>
        <span>{{ user.userName }}</span>
      </div>
      <div class="detail">
        <strong>Contact Number:</strong>
        <span>{{ user.contactNumber }}</span>
      </div>
      <div class="detail">
        <strong>Admin:</strong>
        <span>{{ user.admin ? "Yes" : "No" }}</span>
      </div>
    </div>
  </div>
</div>
