<div class="borrowing-history-container">
  <div class="header">
    <h2>Borrowing History</h2>
  </div>
  <div class="search-container">
    <div class="search-form">
      <div class="search-label">
        <label for="searchType">Search By:</label>
      </div>
      <div class="search-options">
        <select id="searchType" [(ngModel)]="searchType">
          <option value="userId">User ID</option>
          <option value="userName">User Name</option>
          <option value="email">Email</option>
          <option value="contactNumber">Contact Number</option>
        </select>
        <input
          type="text"
          id="searchValue"
          [(ngModel)]="searchValue"
          placeholder="Enter search value"
        />
      </div>
      <div class="search-button">
        <button (click)="searchBorrowingHistory()" class="search-button">
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="history-container" *ngIf="borrowingHistory">
    <div class="history-grid">
      <div *ngFor="let transaction of borrowingHistory" class="history-item">
        <div class="history-details">
          <div class="detail-item">
            <div class="detail-label">
              <span>Book:</span>
            </div>
            <div class="detail-value">
              <p>{{ transaction.book.title }}</p>
            </div>
          </div>
          <div class="detail-item">
            <div class="detail-label">
              <span>Borrowing Date:</span>
            </div>
            <div class="detail-value">
              <p>{{ transaction.borrowingDate | date }}</p>
            </div>
          </div>
          <div class="detail-item">
            <div class="detail-label">
              <span>Return Date:</span>
            </div>
            <div class="detail-value">
              <p *ngIf="transaction.returnDate != null">
                {{ transaction.returnDate | date }}
              </p>
              <p *ngIf="transaction.returnDate == null">Book not returned</p>
            </div>
          </div>
          <button (click)="viewUser(transaction.user.userID)">View User</button>
          <button (click)="viewBook(transaction.book.isbn)">View Book</button>
        </div>
      </div>
    </div>
  </div>
</div>
